 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-color: #faf9f8;
 }

 main {
     flex: 1 0 auto;
 }

 .back-black {
     background-color: #192537;
 }

 .content-img {
     width: 100%;
     background-color: #192537;
     display: flex;
     justify-content: center;
 }

 .img-fluid {
     width: 250px;
     height: auto;
 }

 .layout-gallery {
     max-width: 1000px;
     margin: auto;
 }


 .gallery-top {
     margin-top: 20px;
 }

 .sidenav li>a:hover {
     background-color: #40c267;
     color: white;
 }

 nav ul a:hover {
     background-color: #40c267;
     color: white;
 }

 nav .shop:hover {
     background-color: #40c267;
 }

 .validate {
     text-align: center;
 }

 .text-right {
     text-align: right;
 }

 .text-justify {
     text-align: justify;
 }

 .pagination li.active {
     background-color: #40c267;
     height: 56px;
 }

 .noUi-connect {
     background: #40c267;
 }

 .style-pagination {
     background-color: white;
     display: flex;
     justify-content: center;
 }

 .mt-0 {
     margin-top: 0px;
 }

 .mt-10 {
     margin-top: 10px;
 }

 .mb-0 {
     margin-bottom: 0px;
 }

 .mb-5 {
     margin-bottom: 7px;
 }

 .mb-20 {
     margin-bottom: 20px;
 }

 .title-detalles {
     padding-top: 10px;
     padding-bottom: 10px;
 }

 #gallery-min img {
     cursor: pointer;
 }

 .pointer {
     cursor: pointer;
 }

 #hr-default {
     display: none;
     margin-bottom: 20px;
 }

 #totallabel,
 #preciolabel {
     display: none;
 }

 #titlecatalogo {
     color: #40c267;
     margin-top: 0px;
     margin-left: 20px;
 }

 #indices {
     line-height: 28px;
     height: 30px;
     background-color: white;
     box-shadow: none;
 }

 .breadcrumb {
     color: black;
     font-size: 14px;
 }

 .breadcrumb:last-child {
     color: #40c267;
 }

 .breadcrumb::before {
     color: black;
 }

 #bus-filtro {
     padding: 0px;
     border: none;
 }

 .filtros {
     margin-top: 10px;
 }

 #colapsefiltros {
     margin: 0px;
     box-shadow: none;
     border: none;
 }

 #swal2-title {
     color: white;
 }

 span.badge.new {
     font-size: 1rem;
     font-weight: bold;
     color: #fff;
     background-color: #40c267;
     border-radius: 2px;
     margin-top: 5px;
 }

 span.badge.new2 {
     font-size: 1rem;
     font-weight: bold;
     color: #fff;
     background-color: #192537;
     border-radius: 2px;
     margin-top: 5px;
 }

 #paymentcard {
     background-color: #f69531;
     color: white;
     padding-top: 20px;
 }

 .divisor {
     border-bottom: 1px solid rgba(0, 0, 0, 0.12);
     border-top: 1px solid rgba(0, 0, 0, 0.12);
 }

 #page-loader {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1000;
     background: #FFF none repeat scroll 0% 0%;
     z-index: 99999;
 }

 #page-loader .preloader-interior {
     display: block;
     position: relative;
     left: 50%;
     top: 50%;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #43a047;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
 }

 #page-loader .preloader-interior:before {
     content: "";
     position: absolute;
     top: 5px;
     left: 5px;
     right: 5px;
     bottom: 5px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #f57c00;
     -webkit-animation: spin 3s linear infinite;
     animation: spin 3s linear infinite;
 }

 #page-loader .preloader-interior:after {
     content: "";
     position: absolute;
     top: 15px;
     left: 15px;
     right: 15px;
     bottom: 15px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #546e7a;
     -webkit-animation: spin 1.5s linear infinite;
     animation: spin 1.5s linear infinite;
 }

 @-webkit-keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
         -ms-transform: rotate(0deg);
         transform: rotate(0deg);
     }

     100% {
         -webkit-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
         -ms-transform: rotate(0deg);
         transform: rotate(0deg);
     }

     100% {
         -webkit-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @media only screen and (max-width: 992px) {
     .other-pagination {
         background-color: white;
         display: flex;
         justify-content: center;
     }

     .salto {
         margin-bottom: 20px;
     }

     #div-caracteristicas {
         display: none;
     }

     #totallabel,
     #preciolabel,
     #hr-default {
         display: block;
     }
 }

 @media only screen and (max-width: 700px) {
     #paybox {
         display: none;
     }

     #paymentcard {
         padding-top: 5px;
         padding-bottom: 5px;
     }
 }

 @media only screen and (max-width: 400px) {
     #checkmodal {
         display: none;
     }
 }
